name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via Docker Compose (using Ansible)
        run: |
          # We use the Makefile command you just perfected
          make deploy
